* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

:root {
    --color-orange: #FF4C1A;
}

.text-orange {
    color: var(--color-orange);
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.p-2 {
    padding: 2%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.img-fluid {
    max-width: 100%;
}

.btn-danger {
    background-color: var(--color-orange) !important;
    border: none !important;
}

footer .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1;
}