
        .top-bar{
        background: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1%;
        }
        .top-bar p{
        margin: 0;
        text-align: center;
        width: 90%;
        }
        .top-bar a, .top-bar select{
        margin-left: 1%;
        color: white;
        background: black;
        border: 0;
        }
        .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        }
        .search-box{
          width: 25%;
        }  
        .search-icon{
            margin-right: 3%;
            position: absolute;
         }
            .user-icon{
          transform: translateY(-4px);
          width: 100%;
          height: 100%;
            background-color: rgb(253, 198, 96);
            border-radius: 50%;
        }
         .dropdown{
        position: relative;
       }
        .dropdown-menu{
          position: absolute;
       transform: translateX(-45px);
          width: 200px;
          background: #ede0e0;
          padding: 5%;
        }
        .main-content{
        display: flex;
        flex-wrap: wrap;
        }
        .list-group{
        width: 20%;
        margin-top: 4%;
        }
        .list-group-item{
        border: 0;
        color: black;
        background: white;
        }
        .banner{
        width: 60%;
        background-color: black;
        display: flex;
        align-items: center;
        padding: 4%;
        margin-left: 6%;
        margin-top: 4%;
        position: relative;
        }
        .banner-text{
        color: white;
        width: 40%;
        margin-top: -3%;
        }
        .phone-title{
        display: flex;
        }
        .Apple-img{
        width: 15%;
        margin-right: 4%;
      transform: translateY(-17px);
        }
        .iphone-img{
       transform: translateX(80px);
        width: 55%;
        }
      .dots{
        text-align: center;
        margin-top: 40%;
        position: absolute;
        transform: translateX(300px);
      }
      .dots span{
        display: inline-block;
        width: 14px;
        height: 14px;
        background: gray;
        border-radius: 50%;
        margin: 3px;
         }
      .dots .active{
        background: red;
      }
        .today{
        border-left: 13px solid red;
        padding-left: 2%;
        color: red;
        }
        .flash-header{
        display: flex;
        margin-top: 10%;
        margin-left: 3%;
        }
        .colon{
        margin-top: 22%;
        margin-right: 3%;
        }
        .timer{
        display: flex;
        margin-left: 20%;
        margin-top: 1%;
        }
        .timer p{
        position: relative;
        top:9px;
        }
        .timer div{
        margin-right: 4%;
        }
        .card{
        border: none;
        }
        .card-img-top{
        background-color: gray;
        }
        .new-price{
        color: red;
        }
        .product-img{
        position: relative;
        height: 85%;
        background-color: white;
        }
        .keyboard-img{
        background-color: gray;
        height: 340px;
        width: 345px;
        }
        .carousel-control-prev, .carousel-control-next{
          width: 40px;
          height: 40px;
          background-color: black;
          border-radius: 50%;
          top: -1%;
        }
        .carousel-control-prev{
          left: auto;
          right: 60px;
        }
        .carousel-control-next{
          right: 10px;
        }
        .heart, .eye{
        position: absolute;
        right: 5%;
        }
        .heart{
        top: 5%;
        background-color: white;
        }
        .eye{
        top: 15%;
        background-color: white;
        }
        .discount{
        position: absolute;
        top: 3%;
        left: 2%;
        background-color: rgb(195, 59, 59);
        color: white;
        padding: 1% 4%;
        }
        .cart-btn{
        position: absolute;
        color: white;
        width: 100%;
        background-color: black;
        transform: translateY(30%);
        transition: all 0.5s;
        opacity: 0;
        left: 0;
        bottom: 0;
        }
        .product-img:hover .cart-btn{
        opacity: 1;
        }
        .product{
        background-color: rgb(195, 59, 59);
        color: white;
        padding: 1%;
        text-align: center;
        width: 15%;
        margin: 3% auto;
        text-decoration: none;
        display: block;
        }
        .category-container{
        display: flex;
        margin-top: 7%;
        margin-right: 4%;
        transform: translateX(-50px);
        }
        .category{
        margin-right: 2%;
        }
        .category img{
        width: 100%;
        }
        .camera-img{
        margin-top: -6%;
        }
        .best-selling{
        width: 100%;
        margin-top: -4%;
        }
        .best-selling .flash-header{
        display: block;
        margin-left: 3%;
        }
        .best-selling .product{
        margin-left: 75%;
        width: 10%;
        }
        .best-selling .card{
        margin-left: 0%;
        width: 100%;
        }
        .best-selling .card{
        margin-right: 2%;
        border: none;
        }
        .best-selling .card-img-top{
        width: 90%;
        margin-left: 10%;
        }
        .best-selling .card-body{
        margin-left: 10%;
        }
        .best-selling .cart-btn{
        width: 90%;
        margin-left: 10%;
        }
        .best-selling .today{
        padding-left: 0.5%;
        }
        .banner-jbl{
        width: 90%;
        margin: 5% auto;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4%;
        }
        .banner-jbl .banner-text{
        width: 45%;
        }
        .banner-jbl .banner-text  p{
        color: limegreen;
        margin-bottom: 2%;
        }
        .banner-jbl .banner-text h2{
        font-size: 40px;
        }
        .banner-jbl .time-circles{
        display: flex;
        margin-top: 6%;
        margin-bottom: 6%;
        }
        .banner-jbl .circle{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: white;
        color: black;
        margin-right: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
        .banner-jbl .circle h5, .banner-jbl .circle p{
        margin: 0;
        }
        .banner-jbl .banner-text a{
        display: inline-block;
        background-color: limegreen;
        color: white;
        text-decoration: none;
        padding: 3% 8%;
        }
        .banner-jbl .iphone-img{
        width: 90%;
        margin-left: 100%;
        margin-top: -50%;
        }
        .explore-product .card{
        width: 100%;
        }
        .cameras-img, .shoes-img{
        width:100%;
        background-color: gray;
        }
        .cameras-img{
        height: 300px;
        margin-top: 1%;
        }
        .shoes-img{
        height: 320px;
        }
        .new{
        position: absolute;
        top: 3%;
        left: 12%;
        background-color: rgb(72, 225, 90);
        color: white;
        padding: 1% 4%;
        }
        .camera-card .cart-btn, .shoes-card .cart-btn{
        width: 100%;
        left: -10%;
        }
        .camera-card .card-body, .shoes-card .card-body{
        margin-right: 3%;
        margin-left: 0;
        }
        .first-card{
        padding-right: 3%;
        margin-top: 1%;
        }
        .first-img{
        height: 310px;
        }
        .price-rating{
        display: flex;
        align-items: center;
        }
        .rating-img{
        margin-top: -6%;
        margin-left: 1%;
        }
        .color-circle{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid;
        }
        .red{
        background-color: red;
        }
        .yellow{
        background-color: yellow;
        }
        .product-card{
        background-color: rgb(195, 59, 59);
        color: white;
        padding: 1%;
        text-align: center;
        width: 15%;
        margin: 3% auto;
        text-decoration: none;
        display: block;
        }
        .new-arrival-img{
        width: 83%;
        }
        .card-img-overlay{
        top: 70%;
        color: white;
        }
        .card-img-overlay a{
        color: white;
        }
        .playstation-text{
        top: 80%;
        }
        .speaker-text, .perfume-text{
        top: 55%;
        }
        footer .form-control::placeholder {
        color:white
        }
          .btn-danger{
          background-color: #db4444;
           border-color: #db4444;
           margin-top: 7%;
        }
       #exampleInputEmail1, #exampleInputPassword1 ,#exampleInputName{
         width: 60%;
         margin: 5%;
       }
        .btn-danger-password{
            margin-top: 7%;
           color: #db4444 ;
       } 
      .create-account {
        display: block;
        margin-left:13%;
        color: white;
        background-color: #db4444;
        border: none;
        padding: 1%;
        width: 50%;
       }
       .signup-google{
         padding: 1%;
        width: 50%;
         margin-left:13%;
         margin-top: 2%;
       }
       .account{
         padding: 1%;
        width: 50%;
         margin-left:19%;
         margin-top: 2%;
       }
       .nav-link-signup{
        text-decoration: underline;
        color: black;
        margin-left: 5%;
       }
       